@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{font-family: 'Outfit', sans-serif}

:root{
    --aqua: hsla(178,100%,50%);
    --indigo-dye:hsl(215,32%,27%);
}

body{
    background-color: #00162A;
    margin: 0;
   font-size: 75%;
   color: white;
   display: grid;
     min-height: 100vh;
     place-items: center;
     

}
main{
    background-color: #00162A;
    padding: 1.5rem;
    text-align:left;
    max-width: 289px;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0, 0%,0%, 0.5);
    margin: 1.075rem;


}
.image_NFT{
    position: relative;
   
   border-radius: 0.75rem;
   overflow: hidden;
   cursor: pointer;
}
.image_NFT::after{
    --aqua: hsla(178,100%,50%,0.5);
    content: url(icon-view.svg);
    background: var(--aqua);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.25s ease;
}
.image_NFT:hover::after{
    opacity: 1;
}
.image_NFT img{
    width: 100%;
    display: block;
}
.card_title{
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-bottom:15px ;
}
.card_title:hover{
    color: aqua;
}
 a{
    text-decoration: none;
}
.text_card{
    color: #5072a7;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
img:hover{
    color: mediumaquamarine;
    opacity: 1;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid var(--indigo-dye);
    margin-bottom: 10px;
    padding-bottom: 14px;
}
.icon-ethereum,
.icon-clock{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.icon-ethereum{
    color: aqua;
   
}
.card_icon{
    margin-right: 6px;
}
.icon-clock{
    color:#5072a7;
}

.container{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
.card_image{
    width: 30px;
    height: 34px;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 15px;
}
.card_name{
    color: #5072a7;
    font: weight 500; 
}
.card_name a{
    color: white;
    font-weight: 400;
}
.card_name a:hover{
    color: aqua;
}